<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".devtools.ui.ScreenshotActivity"
            android:icon="@mipmap/ic_launcher"
            android:exported="true"
            android:label="@string/screen_shot_application"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Fanci">
        </activity>
    </application>

</manifest>